*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

.GF4_BG{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/public/bg.png);
    background-size: 100% 100%;
}

